<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body class="has-background-black-bis has-text-light">
    <div id="mobius">
      <div id="mobius-inspector">
        <nav class="panel has-background-black-ter has-text-light">
          <h3 class="panel-heading has-background-black has-text-light">
            Inspector
          </h3>

          <div class="panel-block">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Search" />
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>

          <!-- TODO: make a ul element -->
          <div class="panel-tabs">
            <a class="is-active">All</a>
            <a>Rooms</a>
            <a>Items</a>
            <a>Characters</a>
            <a>Enemies</a>
          </div>

          <div class="wrapper" id="mobius-inspector-objects"></div>

          <div class="panel-block mt-auto">
            <button class="button is-link is-outlined is-fullwidth">
              Reset all filters
            </button>
          </div>
        </nav>
      </div>

      <div id="mobius-player">
        <!-- TODO: image view -->
        <pre
          id="mobius-stdout"
          class="has-background-black-ter has-text-light"
        ></pre>
        <input
          type="text"
          id="mobius-stdin"
          class="input"
          placeholder="What will you do?"
        />
      </div>
    </div>
  </body>
</html>
