// Bulma

.panel {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-block,
  &-tabs {
    a,
    &:not(:last-child) {
      border-color: $black-bis;
    }
  }

  &-block {
    @extend .has-text-light;
    &:last-child {
      border-radius: 0;
    }
  }

  &-tabs {
    a {
      &.is-active {
        @extend .has-text-light;
        border-color: $grey-darker;
      }
    }
  }

  .wrapper {
    overflow-y: auto;
  }

  @at-root {
    a.panel-block,
    label.panel-block {
      &:hover {
        @extend .has-background-black-bis;
      }
    }
  }
}

// forms
.input {
  @extend .has-background-black-ter;
  @extend .has-text-light;
  border-color: $black-bis;

  &:hover {
    border-color: $grey-darker;
  }

  &::placeholder {
    @extend .has-text-light;
  }
}
