#mobius {
  display: flex;
  gap: $gap;
  padding: $gap;
  height: 100%;
  width: 100%;

  &-inspector {
    flex-basis: 400px;
  }

  &-player {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-stdout {
    width: 100%;
    margin-bottom: $gap;
    box-shadow: var(--box-shadow);
  }

  &-stdin {
    width: 100%;
    box-shadow: var(--box-shadow);
  }
}
