/* text colors */
.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.grey {
  color: var(--grey);
}

/* semantic colors */
.imp {
  color: var(--yellow);
}

// spacings

// TODO: generate these based on the bulma spacings
.mt-auto {
  margin-top: auto;
}
