$box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
  0 0px 0 1px rgba(10, 10, 10, 0.02);

:root {
  --yellow: #{$yellow};
  --blue: #{$blue};
  --red: #{$red};
  --green: #{$green};
  --grey: #{$grey};

  --box-shadow: #{$box-shadow};
}
